:root {
    --couleur-body1: #303030;
    --couleur-body2: rgb(77, 76, 76);
    --couleur-body3: #e77f10;
    --couleur-font1:#eee;
    --couleur-font2:#eeeeeec5;
    --bg-raye-clair-clair: linear-gradient(117deg, rgba(70, 67, 67, 1) 0%, rgba(50, 50, 50, 1) 10%, rgba(70, 67, 67, 1) 20%, rgba(50, 50, 50, 1) 30%, rgba(70, 67, 67, 1) 40%, rgba(50, 50, 50, 1) 50%, rgba(70, 67, 67, 1) 60%, rgba(50, 50, 50, 1) 70%, rgba(70, 67, 67, 1) 80%, rgba(50, 50, 50, 1) 90%, rgba(70, 67, 67, 1) 100%);
  }